$color1: #5ddade;
$color2: #2c719b;
$color3: #fdab07;
$color4: #fde9b6;
$color5: #fde9b6;
$color6: #f05f30;
$color7: #993211;

body, html {
    width:100%;
}

.container-fluid, .row, .col {
    padding: 0;
    margin: 0;
}